<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vess Tech</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./public/css/styles.css"
    />
  </head>

  <body class="has-background-grey-dark">
    <header class="hero is-info has-text-white">
      <nav class="navbar hero-body" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="navbar-item is-size-4 has-text-white"> Vess Tech Blog</div>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar-burgs"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar-burgs" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/">
              Home
            </a>

            <a class="navbar-item" href="/dashboard">
              Dashboard
            </a>

            <!-- Only display the logout button if the user is logged in -->
            <div class="navbar-item">
              <div class="buttons">
                {{#unless logged_in}}
                <a 
                  class="button is-primary"
                  id="signup"
                ><strong>Sign Up</strong>
                </a>

                <a
                  class="button is-light"
                  id="login"
                >Log In</a>
                {{/unless}}
                {{#if logged_in}}
                  <a
                    class="button is-danger"
                    id="logout"
                  >Log Out</a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="container columns">
      {{{body}}}
    </main>
    <footer>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    <!-- Only include the logout script if the user is logged out -->
    {{else}}
      <script src="/js/nav-menu-buttons.js"></script>
    {{/if}}
    <script src="/js/main.js"></script>
  </body>

</html>