<form class="column is-full m-6 login-form">
  <div class="hero is-fullheight">
      <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column has-background-info has-text-black box">
          <div class="column title is-size-2 has-text-white">Log In</div>
          <div class="column">
            <label for="email">Email</label>
            <input class="input is-primary" type="text" placeholder="Email address" id="email-login">
          </div>
          <div class="column">
            <label for="Name">Password</label>
            <input class="input is-primary" type="password" placeholder="Password" id="password-login">
            </label>
          </div>
          <div class="column">
            <button class="button is-primary is-fullwidth signup-form" type="submit">Log In</button>
          </div>
          <div class="has-text-centered">
            <p> Need an account?  <a href="/signup" class="has-text-warning">Sign Up!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</form>

<script src="/js/login.js"></script>
