<form class="column is-full m-6 signup-form">
  <div class="hero is-fullheight">
      <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column has-background-info has-text-black box">
          <div class="column title is-size-2 has-text-white">Sign Up</div>
          <div class="column">
            <label for="name">Name</label>
            <input class="input is-primary" type="text" placeholder="Enter Name" id="name">
          </div>
          <div class="column">
            <label for="email">Email</label>
            <input class="input is-primary" type="text" placeholder="Email address" id="email-signup">
          </div>
          <div class="column">
            <label for="Name">Password</label>
            <input class="input is-primary" type="password" placeholder="Password" id="password-signup">
            </label>
          </div>
          <div class="column">
            <label for="Name">Confirm Password</label>
            <input class="input is-primary" type="password" placeholder="Confirm Password" id="password-confirm">
            </label>
          </div>
          <div class="column">
            <button class="button is-primary is-fullwidth" type="submit">Create an account</button>
          </div>
          <div class="has-text-centered">
            <p> Already have an account?  <a href="/login" class="has-text-warning">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</form>

<script src="/js/signup.js"></script>